# Ignore Unity specific files/folders
[Ll]ibrary/
[Tt]emp/
[Tt]argets/
.vscode/
.idea/

# Ignore build results
Build/
Builds/

# Ignore user-specific files
UserSettings/

# Ignore hidden system files (macOS)
.DS_Store
